<%= form_with url: root_path, method: :get, local: true do |f| %>
  <%= f.text_field :q, value: @test_method, placeholder: 'test_method_name' %>
  <%= f.submit 'Search', name: nil %>
<% end %>

<% if @test_method.present? %>
  <% unless @failed_results.empty? %>
    <h1>YES, <%= @test_method %> has failed:</h1>

    <table class="table table-bordered">
      <tr>
        <th>Test Class</th>
        <th>Test Method</th>
        <th>Message</th>
        <th>Command</th>
        <th>TravisCI build URL</th>
      </tr>
      <% @failed_results.each do |job:, filepath:, message:, lineno:, classname:, testname:| %>
        <% url = "https://buildkite.com/rails/rails/builds/#{job.build_number}##{job.original_id}" %>
        <tr>
          <td><%= classname %></td>
          <td><%= testname %></td>
          <td><pre><%= message %></pre></td>
          <td><pre><%= JSON.parse(FailedJob.first.data)['name'] %></pre></td>
          <td><%= link_to url, url, target: :_blank %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    NO
  <% end %>
<%- end %>

<% if @failed_test_groups %>
  <table class="table table-bordered">
    <tr>
      <th>Test Name</th>
      <th>Failed Count</th>
      <th>Detail</th>
    </tr>
    <% @failed_test_groups.each do |group, failed_results| %>
      <tr>
        <td><%= group[:classname] %>#<%= group[:testname] %></td>
        <td><%= failed_results.count %></td>
        <td><%= link_to 'detail', root_path(q: group[:testname]) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
